.toast {
  position: relative;
  display: inline;
  left: 990px;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-name: slideinToast;
}

@keyframes slideinToast {
  0% {
    left: 990px;
  }
  50% {
    left: 170px;
  }
  100% {
    left: 990px;
  }
}

@keyframes slideinMobile {
  0% {
    left: 990px;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 990px;
  }
}

@media only screen and (max-width: 600px) {
  .toast {
    animation-name: slideinMobile;
  }
}
input {
  border-radius: 20;
}
input:focus {
  outline: rgb(100, 182, 248) solid 2px;
  border: 0px;
  border-style: none;
}
